<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xmlns="http://java.sun.com/xml/ns/javaee"
         xsi:schemaLocation="http://java.sun.com/xml/ns/javaee
	http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
         id="WebApp_ID" version="2.5">

    <display-name>Java EE Application</display-name>

    <welcome-file-list>
        <welcome-file>login</welcome-file>
    </welcome-file-list>

    <servlet>
        <servlet-name>XmlServlet</servlet-name>
        <servlet-class>cz.sohlich.web.XmlServlet</servlet-class>
    </servlet>
    
    <servlet-mapping>
        <servlet-name>XmlServlet</servlet-name>
        <url-pattern>/xml</url-pattern>
    </servlet-mapping>

</web-app>
